<div class="footer">
  <h3>Developed with ♥ by <a target="_blank" href="https://github.com/sanoofp">@sanoofp</a></h3>

  <div class="footer-btns">
    <a target="_blank" href="https://github.com/sanoofp/nodejs-poll-app">
      <i class="fa fa-github"></i> Project on Github
    </a>
  </div>  
</div>