<div class="card card-body py-4 latest-polls-container">
  <h2>Latest Polls</h2>
  <div class="latest-polls">
    <i class="fa fa-circle-o-notch fa-spin fa-fw latest-poll-initial-loader"></i>
  </div>
</div>
