<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="create-poll-container card card-body">
      <h2 class="text-center mb-4">Create your <span class="logo-styles">Pie poll</span></h2>
      {{> _create_poll}}
    </div>
  </div>
</div>